@import "tailwindcss";

:root {
  --background: #181c14; /* Dark as default */
  --foreground: #3c3d37;
  --text: #ecdfcc;
  --primary-accent: #697565;
  --secondary-accent: #3c3d37;
  --hover: #7a8776;
  --active: #5a6654; /* Light text as default */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --poppins: var(--font-poppins);
  --space-mono: var(--font-space-mono);
  --inter: var(--font-inter);
}

/* Switch to light theme only if user prefers light */
@media (prefers-color-scheme: light) {
  :root {
    --background: #ecdfcc; /* Dark as default */
    --foreground: #ffffff;
    --text: #181c14;
    --primary-accent: #3c3d37;
    --secondary-accent: #697565;
    --hover: #4a5347;
    --active: #d4c8b5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
